body{
    background-image: url(../images/vintage-wallpaper.png);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    
}

.card{
    border-radius: 25px; 
    background-color: burlywood;
}

#table{
    color: white;
border: 1px white solid;
}

@media (max-width: 1202px){
    .formInfo{
        padding-left: 45px !important;
    }
}@media (max-width: 992px){
    .formInfo{
        padding-left: 10px !important;
    }
    .card-header{
        font-size: 1.5rem !important
    }
}